body {
    width: 800px;
    height: 600px;
    background-color: #202338;
    margin: 0;
    color: #fff;
    overflow: hidden;
    font-size: 14px;
}

input {
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
}

input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

button,
.btn {
    background-color: #546bc1;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    outline: none;
    color: #fff;
}

a,
a:hover,
a:active {
    color: #fff;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-around {
    justify-content: space-around !important;
}

.justify-evenly {
    justify-content: space-evenly !important;
}

.items-center {
    align-items: center !important;
}

#login {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 100%;
}

#login .login-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login .login-image img {
    width: 70%;
}

#login .login-right {
    width: 55%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.login-right .login-right__content {
    width: 280px;
    margin: 0 auto;
}

.login-right .welcome-image img {
    width: 95px;
}

.login-right .welcome-message {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
}

.login-right .login-form input {
    display: block;
    height: 46px;
    border-radius: 23px;
    width: 100%;
    background-color: #191b29;
    font-size: 14px;
    margin-bottom: 14px;
}

.login-right .login-form button {
    display: block;
    height: 46px;
    border-radius: 23px;
    width: 100%;
    font-size: 20px;
}

.login-right .footer {
    position: absolute;
    width: 100%;
    bottom: 14px;
    display: flex;
    justify-content: space-evenly;
}

/* Home Page */
.page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: stretch;
}

.page .sidebar {
    width: 170px;
    background-color: #191B29;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.page .sidebar .logo {
    padding-top: 24px;
    padding-bottom: 48px;
}

.page .sidebar .logo img {
    width: 85px;
}

.page .sidebar .sidebar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.page .sidebar .sidebar__menu .menu--item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 10px;
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
}

.page .sidebar .sidebar__menu .menu--item.active {
    background-color: #5368BC;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.page .sidebar .sidebar__menu .menu--item svg {
    width: 35px;
    margin-right: 16px;
}

.page .sidebar .sidebar-footer button {
    display: block;
    width: 140px;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.page .page-content {
    width: 630px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 16px;
}

.page-content .header .page-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12px;
}

.page-content .content-body {
    flex: 1;
}

.page-content .footer {
    text-align: right;
    padding: 0 10px;
}

.page-content .footer .footer-link {
    margin-right: 32px;
}

/* Home */
.page-content .introbox {
    height: 150px;
    background-color: #191B29;
    border-radius: 30px;
    margin-bottom: 18px;
    display: flex;
    border: 1px solid #556BC1;
}

.page-content .introbox .introbox__image {
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content .introbox .introbox__image img {
    width: 90px;
}

.page-content .introbox .introbox__textbox {
    flex: 1;
}

.page-content .introbox .introbox__textbox .view-doc {
    background-color: #546BC1;
    height: 38px;
    border-radius: 19px;
    font-size: 20px;
    width: 226px;
    padding: 0;
}

.page-content .introbox .introbox__textbox .introtext__title {
    margin: 4px 0 0;
    font-size: 24px;
}

.page-content .introbox .introbox__textbox .introtext__text {
    margin: 0;
    font-size: 17px;
    line-height: 1.2;
    padding-right: 18px;
}

.page-content .introbox .introbox__image img.medal {
    width: 100px;
}

/* Profiles */
.page-content .profile-form__container {
    border-radius: 15px;
    background-color: #191B29;
    border: 1px solid #5367BC;
    padding: 12px;
    margin-bottom: 10px;
}

#profiles .page-content .content-body {
    margin-right: 25px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

#profiles .page-content input, select {
    border: none;
    outline: none;
    color: #fff;
    background-color: #212437;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 9px;
}

#profiles .page-content select {
    text-align: center;
    text-align-last: center;
}

#profiles .page-content .wide {
    width: 235px;
}

#profiles .page-content .narrow {
    width: 143px;
}

.divider {
    border-bottom: 1px solid #546BC0;
    margin-bottom: 12px;
}

#profiles .page-content .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profiles .page-content .row .card__number {
    width: 212px;
}

#profiles .page-content .row .card__holdername {
    width: 168px;
}

#profiles .page-content .justify-start > * {
    margin-right: 10px;
}

#profiles .page-content .last-row.justify-start > * {
    margin-bottom: 0;
    margin-right: 30px;
}

#profiles .page-content .last-row .create-profile {
    width: 150px;
    border-radius: 16px;
}

#profiles .profiles {
    background-color: #191b29;
    border: 1px solid #5367bc;
    border-radius: 15px;
    flex: 1;
    margin-bottom: 6px;
}

